@tailwind base;
@tailwind components;
@tailwind utilities;

.ops {
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    font-weight: bold;
    color: #0011ff;
    background-color: #f8f8fd;
    padding: 0.8em 2.2em;
    border-radius: 50em;
    border: 6px solid #8b93f8;
    box-shadow: 0px 8px #1f35ff;
}
.ops:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
}

.z-50 {
    z-index: 9999 !important;
}

.artist-scroll::-webkit-scrollbar-track {
    background: transparent !important;
}

.artist-scroll::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0.5); */
    background: rgba(219, 6, 6, 1);

    border-radius: 2px;
}

.artist-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

.artist-scroll::-webkit-scrollbar-button {
    display: none;
}

.artist-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
