.container {
    position: relative;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1020;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 1rem;
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.navItem {
    padding: 1rem;
    font-size: 1rem;
}

.navItem a {
    text-decoration: none;
    color: #333;
}

/**/

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: blue;
    border-radius: 50%;
    z-index: 1000;
}

.title {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5em;
}

.eventList {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 80px);
    margin-left: 1em;
    width: 316px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.eventCard {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.2em;
}

.eventImage {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.eventName {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: left;
}

.eventVenue {
    font-size: 1rem;
    color: #666;
}
